<div class="container-fluid">
  <div class="row">
    <div class="seo-score scrollme">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
            <div class="seo-score-content align-center">
              <div class="heading align-center">
                <h4 class="h1 heading-title">How to use?</h4>
                <p class="heading-text">Just send a POST request with your email to our api through your form. As simple as that, besides being free!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="images">
        <img src="http://cdn1.crumina.net/html-seosight/img/seoscore1.png" alt="image" class="" style="opacity: 1; top: -10px;">
        <img src="http://cdn1.crumina.net/html-seosight/img/seoscore2.png" alt="image" class="" style="opacity: 1; bottom: 0px;">
        <img src="http://cdn1.crumina.net/html-seosight/img/seoscore3.png" alt="image" class="" style="opacity: 1; bottom: 0px;">
      </div>
    </div>
  </div>
</div>
