<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="seo-score scrollme">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
            <div class="seo-score-content align-center">
              <div class="heading align-center">
                <h4 class="h1 heading-title">Send Mail Example</h4>
                <br/>
                <br/>
                <br/>
                <img src="assets/images/model.png" alt="image">
                <br/>
                <br/>
                <br/>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
            <div class="seo-score-content align-center">
              <div class="heading align-center">
                <form class="form-horizontal" ngNoForm action="{{action}}" method="POST">
                  <div class="form-group">
                    <label class="control-label col-sm-2">Action:</label>
                    <div class="col-sm-8">
                      <input type="text" required class="form-control" name="_action" [(ngModel)]="action" placeholder="http://www.api.freesendmails.com/v1/mails/youmail">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">Name:</label>
                    <div class="col-sm-8">
                      <input id="form_name" required type="text" class="form-control" name="_name" placeholder="Enter Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">Email:</label>
                    <div class="col-sm-8">
                      <input id="form_email" required type="email" class="form-control" name="_email" placeholder="Enter email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">Message:</label>
                    <div class="col-sm-8">
                      <textarea id="form_message" required class="form-control" rows="5" name="_message"></textarea>
                    </div>
                  </div>
                  <!-- <input type="text" value="http://www.freesendmails/test-mail-success" name="_url_success" style="display:none"> -->
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-1">
                      <button type="submit" class="btn btn-success" value="send">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
