<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="seo-score scrollme">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
            <div class="seo-score-content align-center">
              <div class="heading align-center">
                <h5 class="h1 heading-title">Request for successfully requested email!</h5>
                <img src="assets/images/logo.png" alt="image" routerLink="/">
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
