<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br/>
        <br/>
        <br/>
        <br/>
        <span>
            Copyright © 2017 <a href="index.html" class="sub-footer__link">Free Send Mails,</a>
            Designed by <a href="https://themeforest.net/user/themefire/portfolio">Ricardo Grassi</a>
        </span>
         <span>Developed by <a href="https://ricardograssi.info">Ricardo Grassi</a></span>
      </div>
    </div>
  </div>
</div>
