<header class="header animated headroom--not-bottom swingInX headroom--not-top" id="site-header">
  <div class="container">
    <div class="header-content-wrapper">
      <div class="logo" routerLink="/">
        <a class="full-block-link"></a>
        <img src="assets/images/logo.png" alt="Seosight">
        <div class="logo-text">
          <div class="logo-title">Free Send Mails</div>
          <div class="logo-sub-title">Perfect for static sites</div>
        </div>
      </div>
    </div>
    <nav id="primary-menu" class="primary-menu primary-menu-responsive">
      <ul class="primary-menu-menu primary-menu-indented scrollable" style="max-height: 460px;">
        <li class="text">
          <h4 routerLink="/authentication-user">Register</h4>
        </li>
      </ul>
    </nav>
  </div>
</header>
