<div class="container-fluid">
  <div class="row">
    <div class="seo-score scrollme">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
            <div class="seo-score-content align-center">
              <div class="heading align-center">
                <h4 class="h1 heading-title">Example</h4>
                <br/>
                <br/>
                <br/>
                <br/>
                <img src="assets/images/model.png" alt="image">
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
                    <a routerLink="/test-mail" class="btn btn-small btn--primary btn-hover-shadow">
                      <span class="text heading-text">Test a shipment right now!</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
