<div class="container-fluid">
  <div class="row">
    <div class="seo-score scrollme">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
            <div class="seo-score-content align-center">
              <div class="heading align-center">
                <h4 class="h1 heading-title">Example</h4>
                <img src="assets/images/model.png" alt="image">
                <div class="row">
                  <a class="heading-text" routerLink="/test-mail">Test a shipment right now!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


